{% extends 'DNTWorkshopBundle:Default:layout.html.twig' %}

{% block subtitle %}Renglones{% endblock %}

{% block content %}

    <br />
    <h2>Nuevo Renglon</h2>
    <br />

    <form action="{{ path('renglon_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('renglon') }}">
                Back to the list
            </a>
        </li>
    </ul>

{% endblock %}
