* {
    padding: 0;
    margin: 0;
}

.right { text-align: right; }
.row { margin: 5px 0px; }
.none { display: none; }

body {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #555;
    background-image: url(../img/fondo_body.jpg);
    background-repeat: repeat-x;
    background-position: left top;
}

#topbanner {
    margin: 0 auto;
    height: 70px;
    width: 100%;
    background: url(../img/logo.png) no-repeat center left;
}

#header {
    width: 992px;
    float: left;
    height: 315px;
    position: relative;
}

#footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 30px;
    background-color: #1B4F62;
    color: #FFF;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

DIV.loginbox {
    width: 500px;
    position: relative;
    top: 80px;
    left: 50%;
    margin-left: -250px;
    padding: 25px 0px;
    background-color: #16232B;
    text-align: right;
    border: 1px solid #1B4F62;
}

DIV.loginbox IMG {
    float: left;
    margin-left: 40px;
}

DIV.login {
    margin-right: 60px;
}

DIV.login INPUT {
    width: 325px;
    height: 18px;
    margin-top: 8px;
    padding-left: 5px;
    color: #414141;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: 0 none;
}

/*DIV.login BUTTON {
    margin-top: 10px;
    padding: 2px 20px;
    background-color: #1B4F62;
    color: #CCC;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: 1px solid #1B4F62;
    cursor: pointer;
}

DIV.login BUTTON:hover {
    background-color: #CCC;
    color: #16232B;
    border: 1px solid #000;
}*/

DIV.login DIV.error {
    float: left;
    position: relative;
    top: 10px;
    left: 6px;
    color: red;
}

TABLE TD.right, TABLE TH.right {
    text-align: right;
}

TABLE TD.center, TABLE TH.center {
    text-align: center;
}

DIV.provider {
    margin: 25px 0px;
    padding-bottom: 5px;
    font-size: 15px;
    border-bottom: dotted 1px #666;
}

DIV.provider BUTTON {
    float: right;
    margin-left: 10px;
}

