{% extends 'DNTWorkshopBundle:Default:layout.html.twig' %}

{% block subtitle %}Mantenimiento{% endblock %}
{% block content %}

<h1>Acciones de Mantenimiento</h1>

<button class="btn btn-success" onclick="location='') }}'"><i class="icon-plus icon-white"></i> Añadir nuevo articulo</button>


{% endblock %}

