{% extends 'DNTWorkshopBundle:Default:layout.html.twig' %}

{% block subtitle %}Pedidos{% endblock %}

{% block content %}

    <br />
    <h2>Nuevo Pedido</h2>
    <br />

    <form action="{{ path('pedido_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('pedido') }}">
                Back to the list
            </a>
        </li>
    </ul>

{% endblock %}
